<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="">
	<title>Knoldus Login Form</title>

<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/structure.css" />

<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/socket.io/socket.io.js"></script>
<body>
   <p id="output"></p>

<script>
    $('#users').empty();
    var html = '<h1>Friend List</h1> <table style="width:100%"><tr><th>Username</th><th>Email</th><th>Address</th><% for(var i=0; i<friends.length; i++) { %>'
//    $.each(data, function(key, value) {
//	var username = "<%= friends[i].user.username %>";
//	var email = "<%= friends[i].user.email %>";
//	var address="<%= friends[i].user.address %>";

	html +="<tr>";
	html += "<td align='center'><%= friends[i].user.username %></td>";
	html += "<td align='center'><%= friends[i].user.email %></td>";
	html += "<td align='center'><%= friends[i].user.address %></td>";
	html += "</tr>"
//    });

	$('#users').append(html)
	html +=  '<%}%>'
	html += "</table>"

	var output = document.getElementById("output");
	output.innerHTML = html;

</script>
</body>
</head>
</html>
